<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">
	<!--서블릿 클래스 등록 -->
	<servlet>
		<servlet-name>my</servlet-name>
		<servlet-class>t0708.MyServlet</servlet-class>
	</servlet>

	<!--가상의 경로 설정 -->
	<servlet-mapping>
		<servlet-name>my</servlet-name>
		<url-pattern>/yongjinju/my</url-pattern> 
		<!-- url-pattern 엘리먼트 내의 맨 앞의  '/'는 (컨텍스트)루트를 의미 
			예) /yongjinju
			===> http://localhost:828/Tomtest/yongjinju
		-->
		
	</servlet-mapping>
	
	<!-- 카운트 서블릿 등록 -->
	<servlet>
		<servlet-name> cnt2 </servlet-name>
		<servlet-class>t0708.CountServlet2</servlet-class>
	
	</servlet>
	
	  <!-- 카운트 서블릿에 매핑할 가상경로 정의 -->
  <servlet-mapping>
     <servlet-name>cnt2</servlet-name>
     <url-pattern>/cnt2</url-pattern>
  </servlet-mapping>
  
</web-app>
